:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}

header .series{
    margin-left: 168px;
    color: var(--vermelho);
    font-size: 25px;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   ;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 20px;
}


header nav a:hover{
    color:#fff;
}

/*filme principal*/

.filme-principal2{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)),  url('https://www.youtube.com/watch?v=0XuOkYlUWIs');

    height: 750px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)),  url("/img/guerramundialz.jpg");
    height: 750px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.video-container{
    background: #000;
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.video-container-layer,
.video-container #myVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}
.video-container-layer{
    padding-bottom: 56.25%;
    box-sizing: border-box;
}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}


.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
    text-decoration: none;
}
.container{
    margin-left: 20px;
}
.botao .nome{
    text-decoration: none;
}
.botao .maisinformacoes{
    text-decoration: none;
}
.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}


.carrosel-filmes{
    margin-top:10px;
}

h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 12px;
}
.container a {
    text-decoration: none;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .rodape{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .rodape .sec{
    margin-right: 30px;
}
footer .rodape .sec.aboutus{
    width: 40%;
}
footer .rodape .sec.aboutus h2{
    display: inline-block;
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .rodape .sec.aboutus h2::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
}
footer p{
    color: #999;
}
.sci{
    margin-top: 20px;
    display: flex;
    padding-left: 750px;    
}
.sci li{
    list-style: none;
}
.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: var(--vermelho);
}











